body{
    margin:20px;
}
.form{
   margin:15px;
}

.logo{
    width:150px;
    height :150px;
    float:left;
}
.navbar{
   margin-bottom: 60px;
   margin-left: 10px;
}
.manav{
   padding-left: 20%; 
   margin:20px;
}
.nav-link{
    margin-right:120px;  
}
img.maphoto{
 width: 200px;
 height : 200px;
 float:left;
}
